
.tutorial {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.tutorial-slide {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    transition: opacity 0.5s ease;
}

.tutorial-slide.active {
    display: flex;
    background-color:#93C5FD;
}

.tutorial-slide img {
    max-width: 300px;
    margin: 20px 0;
}

.tutorial-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tutorial-nav button {
    background-color: var(--blue-primary);
    color: var(--text-inverted);
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

.tutorial-nav button:hover {
    background-color: var(--blue-dark);
}
